.navbar li{
  list-style-type: none;
  display: inline;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: left;
  background-color: #dddddd;
}

.navbar li a{
  display: block;
  padding: 14px 16px;
}

.pic ul li{
  list-style-type: none;
  display: inline;
}
.right-box{
  width: calc(30% - 30px);
  height: 1000px;
  float: right;
  position: relative;
  bottom: 280px; 
  border-radius: 70px;
  box-shadow: 30px 30px 30px 30px rgb(2,2,2,.2);
}
.img-levi{
  height: 300px;
  width: 300px;
  border-radius: 150px;
  opacity: 100%;
  filter: grayscale(100%);
  box-shadow: 30px 30px 30px 30px rgb(2,2,2,.2);
  position: relative;
  right: 200px;
  top: 600px;
  transition: 2s;
}
.img-kris{
    height: 300px;
    width: 300px;
    border-radius: 150px;
    opacity: 100%;
    filter: grayscale(100%);
    box-shadow: 30px 30px 30px 30px rgb(2,2,2,.2);
    position: relative;
    right: 480px;
    top: 200px;
    transition: 2s;
  }
 .img-sander{
    height: 300px;
    width: 300px;
    border-radius: 150px;
    opacity: 100%;
    filter: grayscale(100%);
    box-shadow: 30px 30px 30px 30px rgb(2,2,2,.2);
    position: relative;
    top: 210px;
    right: 370px;
    transition: 2s;
  }
.img-deadlift{
    height: 300px;
    width: 300px;
    border-radius: 150px;
    opacity: 100%;
    filter: grayscale(100%);
    box-shadow: 30px 30px 30px 30px rgb(2,2,2,.2);
    position: relative;
    right: 222px;
    top: 210px;
    transition: 2s;
  }

  .img-oda{
    height: 300px;
    width: 300px;
    border-radius: 150px;
    opacity: 100%;
    filter: grayscale(100%);
    box-shadow: 30px 30px 30px 30px rgb(2,2,2,.2);
    position: relative;
    right: 975px;
    top: 600px;
    transition: 2s;
  }

.img-levi:hover{
  transform: scale(1.2);
  opacity: 100%;
  filter: grayscale(0);
}
.img-kris:hover{
    transform: scale(1.2);
    opacity: 100%;
    filter: grayscale(0);
  }
.img-sander:hover{
    transform: scale(1.2);
    opacity: 100%;
    filter: grayscale(0);
  }
.img-deadlift:hover{
    transform: scale(1.2);
    opacity: 100%;
    filter: grayscale(0);
  }
.img-nora:hover{
    transform: scale(1.2);
    opacity: 100%;
    filter: grayscale(0);
  }
  .img-oda:hover{
    transform: scale(1.2);
    opacity: 100%;
    filter: grayscale(0);
  }
