ul li{
     list-style-type: none;
    display: inline;
}
.img-levi{
  height: 300px;
  width: 300px;
  border-radius: 150px;
  opacity: 100%;
  filter: grayscale(100%);
  box-shadow: 30px 30px 30px 30px rgb(2,2,2,.2);
  position: relative;
  top: 400px;
  transition: 2s;
}
.img-kris{
    height: 300px;
    width: 300px;
    border-radius: 150px;
    opacity: 100%;
    filter: grayscale(100%);
    box-shadow: 30px 30px 30px 30px rgb(2,2,2,.2);
    position: relative;
    right: 280px;
    transition: 2s;
  }
 .img-sander{
    height: 300px;
    width: 300px;
    border-radius: 150px;
    opacity: 100%;
    filter: grayscale(100%);
    box-shadow: 30px 30px 30px 30px rgb(2,2,2,.2);
    position: relative;
    right: 170px;
    transition: 2s;
  }
.img-deadlift{
    height: 300px;
    width: 300px;
    border-radius: 150px;
    opacity: 100%;
    filter: grayscale(100%);
    box-shadow: 30px 30px 30px 30px rgb(2,2,2,.2);
    position: relative;
    right: 22px;
    transition: 2s;
  }
.img-nora{
    height: 300px;
    width: 300px;
    border-radius: 150px;
    opacity: 100%;
    filter: grayscale(100%);
    box-shadow: 30px 30px 30px 30px rgb(2,2,2,.2);
    position: relative;
    right: 775px;
    top: 415px;
    transition: 2s;
  }
  .img-oda{
    height: 300px;
    width: 300px;
    border-radius: 150px;
    opacity: 100%;
    filter: grayscale(100%);
    box-shadow: 30px 30px 30px 30px rgb(2,2,2,.2);
    position: relative;
    right: 775px;
    top: 415px;
    transition: 2s;
  }

.img-levi:hover{
  transform: scale(1.2);
  opacity: 100%;
  filter: grayscale(0);
}
.img-kris:hover{
    transform: scale(1.2);
    opacity: 100%;
    filter: grayscale(0);
  }
.img-sander:hover{
    transform: scale(1.2);
    opacity: 100%;
    filter: grayscale(0);
  }
.img-deadlift:hover{
    transform: scale(1.2);
    opacity: 100%;
    filter: grayscale(0);
  }
.img-nora:hover{
    transform: scale(1.2);
    opacity: 100%;
    filter: grayscale(0);
  }
  .img-oda:hover{
    transform: scale(1.2);
    opacity: 100%;
    filter: grayscale(0);
  }
